##TP_COMMENT $Id: autosettler.css,v 1.1.1.1 2011/10/04 10:54:26 xbourgui Exp $##


			table table {
				border: 1px;
			}

			.normaltext {
				font: 12pt Verdana;
				color: #000000
			}

			.smallredtext {
				font: 11pt Verdana;
				color: #AA0000
			}

			.blackbold {
				font: bold 20pt Verdana;
				color: #000000
			}


			.smallnormal {
				font: 10pt Verdana;
				color: #000000
			}

			.boldred {
				font: bold 15pt Verdana;
				color: #AA0000
			}

			.boldgreen {
				font: bold 15pt Verdana;
				color: #00AA00
			}

			.boldorange {
				font: bold 15pt Verdana;
				color: #AAAA00
			}

			.soon {
				font: bold 10pt Verdana;
				color: #555700
			}

			.imminent {
				font: bold 10pt Verdana;
				color: #AA0000
			}

			.titlerow {
					font: 15pt Verdana;
					font-style: bold;
					text-align: center;
					background-color: #101078;
					color: #FFFFFF;
			}

			.headerrow {
					font: 14pt Verdana;
					text-align: center;
					background-color: #000000;
					color: #FFFFFF;
			}


			.smalllink {
				font: bold 10pt Verdana;
				letter-spacing 1pt;
				color: #000000
			}

