/* $Id: admin.css,v 1.1.1.1 2011/10/04 10:54:26 xbourgui Exp $ */

##TP_IF {[tpGetVar FuncOffice 0]}##
	@import "##TP_OFFICE_STATIC_URL##/css/base.css";
	@import "##TP_OFFICE_STATIC_URL##/css/calendar.css";

	##TP_IF {[tpGetVar USE_ALTERNATIVE_STYLE]}##
	@import "##TP_ALTERNATIVE_STYLE_URL##";
	##TP_ENDIF##

	.buttons .buttons {
		border: none;
	}
	.buttons th {
		background-color: transparent;
	}
##TP_ELSE##

BODY {
	background-color : White;
	font-size : 10pt;
	font-weight: normal;
	font-family : Arial,Helvetica,sans-serif;
}

/* default table settings
 */
TABLE, TBODY {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 10pt;
	background-color: #ccc;
	color: black;
	text-align: left;
}
TR {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 10pt;
	color: black;
	text-align: left;
}


TR.subtitle {
	background-color: #999;
}

TR.blank {
	background-color: #fff;
}

.infoyes {
	background-color: #6c6;
	color: white;
}
.infono {
	background-color: #c66;
	color: white;
}
h3.infoyes, h3.succeeded {
	color: green;
	background-color: transparent;
}
h3.infono, h3.failed {
	color: red;
	background-color: transparent;
}
span.nrows {
	color: #c66;
	font-weight: bold;
}


/*
 * Row types to indicate event/market/selection/whatever status
 */
.active {
	background-color: #9c9;
}
.suspended {
	background-color: #c99;
}
.confirm {
	background-color: #9F9;
}
.hidden {
	background-color: #99c;
}
.resulted {
	background-color: #c9c;
}
.confirmed {
	background-color: #9cc;
}
.settled {
	background-color: #cc9;
}
.unknown {
	background-color: #99CCDD;
}

TH.title {
	font-size: 14pt;
	color: white;
	background-color: #10137c;
	text-align: left;
}
.buttons {
	font-size: 12pt;
	color: white;
	background-color: #10137c;
	text-align: left;
}

TH.rightButtons {
	font-size: 12pt;
	color: white;
	background-color: #10137c;
	text-align: right;
}

.goaudit {
	font-size: 12pt;
	color: white;
	background-color: #10137c;
	text-align: right;
}
TH.colhead, TH.colheadSortText, TH.colheadSortNumber {
	color: white;
	background-color: black;
	text-align: left;
}

TH.audhead {
	color: white;
	background-color: black;
}

TD {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 10pt;
	white-space: nowrap;
}
TD.ra {
	text-align: right;
}
TD.caption, TD.subcaption {
	text-align: right;
	font-weight: bold;
}
TD.captionindex {
	text-align: right;
	font-weight: bold;
	color: green;
}
TD.adiff {
	background-color: #c99;
}

TD.uschk {
	color: white;
	font-weight: bold;
}
TD.combiAll {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 10pt;
	white-space: nowrap;
}
TD.combiBanker {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 10pt;
	white-space: nowrap;
	background-color: #FFDDDD;
}
TD.combiEven {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 10pt;
	white-space: nowrap;
	background-color: #DDFFFF;
}
TD.combiOdd {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 10pt;
	white-space: nowrap;
	background-color: #FFFFDD;
}


A:link {
	color: blue;
}
A:visited {
	color: blue;
}
A:active {
	color: yellow;
}

/* use this class to set visited links to a different colour*/
A.mark_vstd:visited {
	color: white;
}


a.error, a:visited.error, a:active.error {
	color: #FF1C00;
}
a.xlated, a:visited.xlated, a:active.xlated {
	color: #00D500;
}


.newsInfo {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 10pt;
	white-space: nowrap;
	color: white;
}
.newsInfobold {
	font-family: Arial,Helvetica,Sans-Serif;
	font-size: 9pt;
	white-space: nowrap;
	color: red;
}

.viewVert {  writing-mode:tb-rl;
			font-family: Arial,Helvetica,Sans-Serif;
			font-size: 12px;
			color: #3333CC;
			font-weight: bolder ;
			text-decoration: none;
			text-align:right;
}
.viewNormal {  writing-mode:lr-tb;
			font-family: Arial,Helvetica,Sans-Serif;
			font-size: 12px;
			color: #3333CC;
			font-weight: bolder ;
			text-decoration: none;
			text-align:right;
}

.viewBg {
	background-color: #FFFFFF;
}
TD.viewDelete {
	color: white;
	background-color: black;
	text-align: center;
}

.multiLingualMsg {
	font-size: -1;
}
td.Table {
}

##TP_ENDIF office##

.multiLingualMsg {
	color: red;
	font-style: italic;
}

.mandatory_caption {
	font-weight: bold;
	background: #eee;
	text-align: right;
        color: red;
}

.platinum_text {
	background-color: ##EFF5FB;
	color: red;
}

h1, .title_platinum {
	-moz-background-clip:border;
	-moz-background-origin:padding;
	-moz-background-size:auto auto;
	background-attachment:scroll;
	background-color:red;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	color:#FFFFFF;
	font-size:16px;
	font-weight:bolder;
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	text-align:left;
}

.anchor_platinum {
	color:red !important;
}

.platinum_text {
	background-color: ##EFF5FB;
	color: red;
}

.platinum_text_async {
	background-color: yellow;
	color: black;
}
