.ac_output
{
	font-family:Arial;
	font-size: 10pt;
	color:black;
	padding-left: 3px;
	padding-top: 3px;
	border: 1px solid #000000;
	background: #fff;
}
.ac_shadow
{
	position:relative;
	top: 2px;
	left: 2px;
	background: #555;
}
.ac_shadow div{
	position:relative;
	top: -2px;
	left: -2px;
}