/* $Id: splash.css,v 1.1.1.1 2011/10/04 10:54:26 xbourgui Exp $ */

##TP_IF {[tpGetVar FuncOffice 0]}##

	@import "##TP_OFFICE_STATIC_URL##/css/base.css";

	#adminMenuDiv {
		margin: 3px 20px 0 8px;
		font-size: 12px;
	}
##TP_ELSE##

	BODY {
		background-color : ##TP_BgColour##;
		font-family : Arial,Helvetica,sans-serif;
		font-size : 10pt;
		font-weight: bold;
		color: white;
	}

	A {
		text-decoration: none;
	}

	A:hover {
		background-color: green;
		color: yellow;
	}
	A:link {
		color: white;
	}
	A:visited {
		color: white;
	}
	A:active {
		color: red;
	}

	#vclickMenu {
		padding-left: 4px;
		margin-left: 0;
	}
	#vclickMenu span {
		font-weight: bold;
	}
	#vclickMenu li {
		padding-top: 12px;
		list-style: none;
	}
	#vclickMenu li#first {
		padding-top: 4px;
	}
	#vclickMenu li ul li {
		padding-top: 2px;
		margin-left: -12px;
		list-style: disc;
	}

##TP_ENDIF office##
