/* Reset some default browser styles */
body, h1, p, a {
    margin: 0;
    padding: 0;
}

/* Set a background gradient */
body {
    background: linear-gradient(to bottom right, #03052e, #020ccc); /* Dark blue to navy blue */
    height: 100vh;
}

/* Style the waiting room container */
.login-body {
    position: relative;
    min-height: 100vh;
}

/* Style the container */
#login-container {
    text-align: center;
    background-color: rgba(245, 245, 245, 0.9); /* Slightly transparent background color */
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px; /* Set a fixed width for the container */
    margin: 0 auto; /* Center the container horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the circle around the container */
#login-container::before {
    content: "";
    position: absolute;
    width: 600px; /* Make the circle cover the entire login container */
    height: 600px; /* Make the circle cover the entire login container */
    border-radius: 50%; /* Make it a circle */
    top: -200px; /* Position at the top of the login container */
    left: -150px; /* Position at the left of the login container */
    z-index: -1; /* Send it behind the login box */
    border: 10px solid #aa0033; /* Set a transparent border for the circle */
}

/* Style the label and input */
.form-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
    display: block; /* Make it a block element for better spacing */
    margin-right: 10px;
}

#username-input {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login-button {
    padding: 10px 20px;
    background-color: #007bff; /* Change to your desired button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-button:hover {
    background-color: #0056b3; /* Change to a darker shade for hover effect */
}

/* Style the error message */
.error-message {
    background-color: rgba(255, 0, 0, 0.8); /* Red color with 80% opacity */
    color: white; /* Text color */
    padding: 10px; /* Padding around the error message */
    margin: 10px;
    border-radius: 5px; /* Optional: Adds rounded corners */
}

/* Style the lobby header */
#lobby-header {
    text-align: center;
    color: white;
    margin-top: 20px; /* Adjust the margin-top value based on your design preference */
}

/* Style the lobby container */
.lobby {
    width: 25%;
    margin: 10px auto;
    background-color: rgba(50, 50, 50, 1); /* Translucent white background */
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the room number */
.room-number {
    background-color: rgba(75, 75, 75, 0.7); /* Dark grey background with 70% opacity */
    color: white; /* Text color */
    font-weight: bold; /* Make the text bold */
    padding: 10px; /* Add padding to the box */
    border-radius: 5px; /* Optional: Adds rounded corners */
    font-size: 24px;
    margin-bottom: 10px;
    width: 90%;
    text-align: center; /* Center the text horizontally */
}

/* Style the players section */
.players {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgba(75, 75, 75, 0.7); /* Dark grey background with 70% opacity */
    color: white; /* Text color */
    padding: 10px; /* Add padding to the box */
    border-radius: 5px; /* Optional: Adds rounded corners */
    width: 90%;
    text-align: center; /* Center the text horizontally */
}

/* Style individual players */
.player {
    flex: 1;
    padding: 25px;
}

.label {
    font-weight: bold;
    font-size: 20px;
}

/* Style the starting money */
.starting-money {
    margin-bottom: 10px;
    background-color: rgba(75, 75, 75, 0.7); /* Dark grey background with 70% opacity */
    color: white; /* Text color */
    padding: 10px; /* Add padding to the box */
    border-radius: 5px; /* Optional: Adds rounded corners */
    width: 90%;
    text-align: center; /* Center the text horizontally */
}

/* Style the join button */
.join-button {
    background-color: #008805;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 90%; /* Make the button take 100% width inside the lobby box */
}

/* Style the full button */
.full-button {
    background-color: #db0000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 90%; /* Make the button take 100% width inside the lobby box */
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: rgb(175, 175, 175);
}

/* Style the no-money button */
.no-money-button {
    background-color: #a3a3a3;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 90%; /* Make the button take 100% width inside the lobby box */
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: rgb(75, 75, 75);
}
